.brands{
	&__list{

	}

	&__item{
		margin: 30px 0 80px;
		p{
			margin: 0;
		}

		&:last-child{
			margin-bottom: 40px;
		}
	}
}

.brand-subcat{
	margin-bottom: 15px;
	ul{
		margin-left: 25px;
		li{
			margin: 6px 0;
		}
	}
}