::-ms-clear {
        display: none;
}

// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
@supports (-ms-ime-align:auto) {

	.navmenu .nav .submenu{
		z-index: 1;
		opacity: 1;
		display: none;
	}

	.navmenu .nav>li:hover{
		.submenu{
			display: block;
		}
	}
}

_::-webkit-full-page-media, _:future, :root .selector {

}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.main-grid{
		display: block;
	}

	.d-grid{
		display: flex;
		flex-wrap: wrap;
	}


	.navmenu .nav .submenu{
		z-index: 1;
		opacity: 1;
		display: none;
	}

	.navmenu .nav>li:hover{
		.submenu{
			display: block;
		}
	}

	.collections__list{
		justify-content: space-between;
	}

	.item-collections{
		margin-bottom: 30px;
		width: 48%;
	}

	.item-news,
	.products__item{
		width: 30%;
	}

	.video__item{
		width: 260px;
	}
}