::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
// @supports (-ms-ime-align:auto) {
// }
_::-webkit-full-page-media, _:future, :root .selector {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.main-grid{
		display: block;
	}

	.d-grid{
		display: flex;
		flex-wrap: wrap;
	}


	.collections__list{
		justify-content: space-between;
	}

	.item-collections{
		margin-bottom: 30px;
		width: 48%;
	}
}