@font-face {
	font-family: 'Avanti';
	src: local('Avanti'),
		 url('../fonts/Avanti/Avanti.woff2') format('woff2'),
		 url('../fonts/Avanti/Avanti.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avanti';
	src: local('Avanti Bold'), local('Avanti-Bold'),
		 url('../fonts/Avanti/Avanti-Bold.woff2') format('woff2'),
		 url('../fonts/Avanti/Avanti-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}