.breadcrumbs{
	margin-bottom: 25px;
	padding-top: 22px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li{
			padding-right: 12px;
			margin-right: 12px;
			position: relative;
			&.current{
				color: #b8bdc1;
				margin-right: 0;
				a, span{
					color: currentColor;
				}
				&:after{
					display: none;
				}
			}
			a{
				&:hover{
					color: $color1;
				}
			}
			&:after{
				@extend .before;
				width: 3px;
				height: 3px;
				background-color: $color4;
				margin-top: -2px;
				top: 50%;
				right: 0;
				border-radius: 50%;
			};
		}
	}
}


aside{
	margin-top: 15px;
	ul{
		font-size: 18px;
		font-family: 'Open Sans', sans-serif;
		li{
			margin: 12px 0;
			&.current-menu-item{
				a,span{
					color: $color3;
				}
			}
			a:hover{
				color: $color3;
			}
		}
	}


	.widget{
		margin-bottom: 40px;
	}

	.widget-title{
		font-family: "Fira Sans Condensed", sans-serif;
		font-size: 22px;
		font-weight: normal;
		text-transform: uppercase;
	}

	.widget_nav_menu{
		font-size: 18px;
		ul{
			font-family: "Fira Sans Condensed", sans-serif;			
		}
		.menu-current-item{
			a, span{
				color: $color3;	
			}
		}
		a{
			&:hover{
				color: $color3;
				text-decoration: none;
			}
		}
	}
}


.main{
	border-top: 1px solid $color4;
	.more{
		margin-top: 5px;
		a{
			font-weight: 700;
		}
	}

	.logo{
		margin-top: 30px;
		img{
			margin-bottom: 0;
		}
	}
}

.content{
	margin-top: -40px;
}

#selectmenu{
	display: block;
	height: 38px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: calc(100% - 15px);
}



.moretext{
	display: none;
	margin-top: 25px;
	& > p{
		margin-top: 0;
	}
	&.show{
		display: block;
	}
}