$color_1: #000; 
$color_2: #fff;


/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/




@media (max-width: 767px){
	.subnav{
		display: none;
	}
	.navmenu{
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		min-height: 656px;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		position: fixed;
		right: -300px;
		top: 0;
		transition: .3s;
		width: 300px;
		z-index: -1;

		&__inner{
			position: fixed;
			top: 0;
			bottom: 0;
			width: 300px;
			transition: .3s; 
			overflow: auto;
			height: 100%;
		}

		a,
		span{
			font-weight: normal;
		}

	}

	.mainnav{
		margin-left: 0;
		overflow: hidden;
		padding: 7px 0 0;
		li{
			span{
				border-bottom: none !important;
			}
		}
	}

	.show-sm{
		display: block;
		text-align: left;
	}
	.navbar-toggle{
		background-color: #fff;
		border: none;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 80px;
		right: 0;
		position: fixed;
		text-align: center;
		top: 0;
		width: 80px;
		z-index: 99;
		justify-content: center;
		.icon-bar{
			background-color: #000;
			display: block;
			height: 3px;
			margin: 4px 0;
			width: 35px;
			transition: .3s;
			&:nth-child(2){
				margin-left: 9px;
				width: 26px;
			}
		}
		&:hover{
			.icon-bar:nth-child(2){
				margin-left: 0;
				width: 35px;
			}
		}
	}
	
	.mob-logo{
		padding-left: 22px;
		padding-top: 15px;
		a{
			margin: 0 !important;
		}
	}

	.close-menu{

	}

	.o-menu{
		.navmenu{
			background: $color_2;
			z-index: 500;
			right: 0;
		}


		.mobinfo{
			padding-left: 1rem;
			a{
				color: $color_1;
				display: block;
				margin: 1.8rem;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}

		.show-sm{
			@include font-size(1.5);
			padding-left: 3rem;
			a{
				color: $color2;
				display: block;
				margin: 1.8rem 0;
				text-decoration: none;
				border-bottom: none !important;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	.close-menu{
		@include transition;
		background-color: $color_2;
		background: none;
		border: none;
		cursor: pointer;
		display: block;

		height: 58px;
		padding: 0;
		position: fixed;
		text-align: center;
		top: 10px;
		right: 10px;
		width: 58px;
		z-index: 99;
		svg{
			transition: transform .3s;
			transform-origin: center center;
			vertical-align: top;
		}
		line{
			stroke: #000;
			stroke-width: 2px;
		}
		&:hover{
			svg{
				transform: rotate(90deg);
			}
		}
	}


	#navbar{
		background-color:$color_2;
		a{
			border-bottom: none !important;
			font-size: 17px;
			font-weight: 400;
			&:hover{
				text-decoration: none;
			}
		}
		.container{
			padding: 0;
		}

		.nav-tabs>li>a{
			text-transform: uppercase !important;
		}

		ul.nav{
			background: none;
			display: block;
			font-size: 15px;
			margin-top: 18px;
			padding-left: 38px;
			padding-right: 15px;
			text-align: left;

			& > li.active > a{
				text-decoration: underline;				
			}
			li{ // 1 level
				padding: 0;
				border-bottom: 1px solid #fff;

				a, span{
					color: $color_1;
					display: block;
					height: auto;
					line-height: normal;
					padding: 14px 0;
					text-decoration: none;
					text-transform: none;
					&:hover{
						color: #fff;
					}
					&:before{
						display: none !important;
					}
				}
				&.active,
				&:hover{
					a, span{
						background: none;
					}
					color: #fff;
				}

				&.active{
					a{
						&:hover{
							color : #fff;
						}
					}
				}
			}
		}

		.submenu{
			border: none;
			display: block !important;
			margin-left: 0;
			margin-bottom: 15px;
			opacity: 1;
			position: static;
			width: auto;
			ul{
				box-shadow: none;
				padding: 0 0 0 25px;
				li{
					a,
					span
					{
						font-size: 18px !important;
						padding: 4px 0;
					}

					&.current-menu-item{
						a,
						span{
							color: $color3;
						}
					}
				}
			}
		}

		.nav-tabs>li{
			margin: 0;
		}
	}
}