.shops{
	.address{
		font-size: 18px;
	}
	h2{
		margin-bottom: 15px;
	}


	.shop-item{
		margin-bottom: 70px;
		&:last-child{
			margin-bottom: 0;
		}
		p{
			margin: 0 0 15px;
		}

		.contact-item{
			margin-bottom: 15px;
		}
	}

	.map{
		margin-top: 20px;
	}

	@media (max-width: 767px){
		.address{
			font-size: 14px;
		}

		.shop-item{
			margin-bottom: 40px;
		}
	}
}